@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper {
    width: 1200px;
    display: flex;
    margin: auto;
    flex-direction: column;
    font-family: 'Roboto';
    background-color: #393b3a;
    padding-bottom: 100px;
    margin-top: 70px;
    border-radius: 10px;
}

.header {
    width: 960px;
    height: 100px;
    background-color: #dee5f8;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 50px auto 0px auto;
    border-radius: 10px;
}

.line-faq {
    width: 960px;
    height: 50px;
    margin: 20px auto 0px auto;
    background-color: #dee5f8;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #555;
    text-align: center;
    padding-top: 15px;
}

.answer {
    width: 920px;
    height: auto;
    padding: 20px;
    margin: 0px auto 20px auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    /* border-top: 2px solid #3a354d; */
}

.quote {
    width: 960px;
    height: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: #dee5f8;
    margin: auto;
}

@media (max-width: 1200px) {

    .wrapper {
        width: 90%;
    }

    .quote {
        width: 80%;
        padding: 0px 20px 0px 20px;
    }

    .answer {
        width: 80%;
    }

    .line-faq {
        height: 70px;
        padding: 15px 20px 0px 20px;
        width: 80%;
    }

    .header {
        width: 90%;
    }
    
  }

  @media (max-width: 768px) {

    .wrapper {
        margin-top: 100px;
    }
    
  }