@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.footer-container {
    background-color: #383b3b;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    font-family: 'Roboto';
    padding-bottom: 50px;
    padding-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 65%;
    align-items: flex-start;
}

.footer-con-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: white;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.footer-butik {
    flex: 2;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    background-color: #383b3b;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    align-items: center;
    color: #fff;
    font-size: 25px;
}

.facebook-logo:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {

    .footer-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .links {
        margin-top: 20px;
        border-bottom: 1px solid #1c77e0;
        border-top: 1px solid #1c77e0;
    }

    .footer-con-wrap {
        justify-content: flex-start;
    }
}