@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.ps-input {
    width: 300px;
    height: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    margin: 10px;
}

.ps-input-price {
    width: 100px;
    height: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    margin: 10px;
}

.ps-wrapper-form {
    margin-top: 50px;
    background-color: #3e589b;
    padding-top: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    box-shadow: 1px 15px 50px #9bb2eb;
    border-radius: 10px;
    padding-bottom: 40px;
    color: white;
}

.list-item-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}

.list-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item-id {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item-color-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.ps-wrapper-form-list {
    margin-top: 50px;
    background-color: #3e589b;
    padding-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    box-shadow: 1px 15px 50px #9bb2eb;
    border-radius: 10px;
    padding-bottom: 40px;
    color: white;
}

.ps-label {
    display: flex;
    font-family: 'Roboto';
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.ps-label h2 {
    width: 130px;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    margin: 10px;
    font-family: 'Roboto';
    font-weight: 300;
}

.ps-button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    font-family: 'Roboto';
    margin: 20px;
    font-weight: 300;
    background-color: white;
    border: 1px solid #d3d3d3;
}

.delete-form {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps-wrapper-form-model {
    margin-top: 50px;
    background-color: #3e589b;
    padding-top: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    box-shadow: 1px 15px 50px #9bb2eb;
    border-radius: 10px;
    padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-form-first {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.delete-form-second {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}

.delete-list-item-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.add-model-status-line {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.add-price-status-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.status-name {
    width: 150px;
    font-weight: 700;
}