.container {
    width: 100%;
    height: 45px;
    background-color: #fff;
    line-height: 45px;
    color: #fff;
    font-size: 14px;
    font-family: tahoma;
}

.header-content {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-content p {
    color: rgb(83, 83, 83);
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    margin: 0px;
    display: inline;
}

@media (max-width: 768px) {
    .container {
      display: none;
    }
  }

@media (max-width: 1200px) {
        .header-content {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .header-content p {
            line-height: 25px;
        }

        .container {
            height: auto;
            line-height: 25px;
        }
    }